body { 
  margin: 0; 
  height: 100%;
}

canvas {
  /* background-image: url('https://picsum.photos/id/307/5760/3840');
  background-size: cover; */
  display: block;
  height: 100vh;
  width: 100%;
}